@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 75%;
}

body {
  font-family: 'Poppins', sans-serif;
  height: 100vh;
  font-size: 1rem;
}

ul {
  list-style: none;
}

#root {
  height: 100%;
}

.otp-input {
  width: 40%!important;
  padding: 1.2rem 2rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  outline-color: #015DFE;
  font-size: 1.5rem;
}


